* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif, Arial;
}

body {
    background: linear-gradient(to left, #72743c33, #0000002d), url(quito.jpg); 
    background-size: cover;
}

#body {
    background-color: #000000;
    z-index: 1000;
    position:initial;
}


.div_form {
    background-color: rgba(255, 255, 255, 0.788);
    width: 400px;
    margin: auto;
    border-radius: 10px;
}

.registro {
    width: 400px;
    background-color: rgb(255, 255, 255);
    background: linear-gradient(to left, #859398b4, #283048dc);
    padding: 40px;
    padding-bottom: 20px;
    margin: auto;
    border-radius: 10px;
    margin-top: 1.5vmin;
}

#registro2 {
    margin-top: 15vmin;
}

.registro h3 {
    text-align: center;
    font-size: 30px;
    margin: 0px 0px 20px;
}

.input_register {
    width: 100%;
    background-color: #cececec7;
    height: 45px;
    margin-bottom: 15px;
    border-radius: 6px;
    font-size: 15px;
    padding-left: 5px;
    border: none;
}

.terminos {
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    color: #171c2e;
    line-height: 25px;
}

.submit {
    background-color: #283048d3;
    border: none;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 45px;
    border-radius: 6px;
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
}

.submit:hover {
    background: #36405fd3;
}

.a_login, .p_login {
    margin-top: 20px;
    text-decoration: none;
    font-size: 19px;
    color: #171c2e;
    text-align: center;
}

.a_login {
    font-size: 20px;
}

.a_login:hover, .a_login-1:hover {
    text-decoration: underline;
}

.p_login-1 {
    text-align: right;
    margin-top: 5px;
}

.a_login-1 {
    text-decoration: none;
    font-size: 15px;
    color: #171c2e;
    text-align: center;
}

#password {
    margin-bottom: 0px;
}

#degradado {
    background: linear-gradient(yellow red);
    width: 100vmax;
    height: 100vmin;
    position: absolute;
    z-index: 1000;
}

#inicio {
    font-size: 15px;
    margin-bottom: 0px;
}